<div class="header-menu">
    <button mat-icon-button (click)="openMenu()"><mat-icon>reorder</mat-icon></button>
</div>

<div class="conteudo">
    <div class="side-menu" *ngIf="sideMenu == true">
        <app-side-menu></app-side-menu>
    </div>
    <div class="container">
        <div class="content">
            <div class="row-categorias">
                <div class="categorias mat-elevation-z4" matRipple (click)="openOpcoes()">
                    <fa-icon [icon]="burger"></fa-icon>
                </div>
                <div class="categorias mat-elevation-z4" matRipple>
                    <fa-icon [icon]="pizza"></fa-icon>
                </div>
                <div class="categorias mat-elevation-z4" matRipple>
                    <fa-icon [icon]="apple"></fa-icon>
                </div>
                <div class="categorias mat-elevation-z4" matRipple>
                    <fa-icon [icon]="hotdog"></fa-icon>
                </div>
                <br>
                <div class="categorias mat-elevation-z4" matRipple>
                    <fa-icon [icon]="burger"></fa-icon>
                </div>
                <div class="categorias mat-elevation-z4" matRipple>
                    <fa-icon [icon]="burger"></fa-icon>
                </div>
            </div>
    
            <div class="row-categorias">
                <div class="categorias mat-elevation-z4" matRipple>
                    <fa-icon [icon]="burger"></fa-icon>
                </div>
                <div class="categorias mat-elevation-z4" matRipple>
                    <fa-icon [icon]="burger"></fa-icon>
                </div>
                <div class="categorias mat-elevation-z4" matRipple>
                    <fa-icon [icon]="burger"></fa-icon>
                </div>
                <div class="categorias mat-elevation-z4" matRipple>
                    <fa-icon [icon]="burger"></fa-icon>
                </div>
                <div class="categorias mat-elevation-z4" matRipple>
                    <fa-icon [icon]="burger"></fa-icon>
                </div>
                <div class="categorias mat-elevation-z4" matRipple>
                    <fa-icon [icon]="burger"></fa-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="side-options" *ngIf="sideOption == true">
        <app-side-options></app-side-options>
    </div>
</div>