.header-menu{
    display: flex;
    height: 6vh;
    width: 100vw;
    background-color: rgb(47, 124, 47);
    color: white;
    align-items: center;
}

.conteudo{
    display: flex;
}

.side-menu{
    display: flex;
    height: 94vh;
    width: 25vw;
    background-color: rgb(22, 68, 22);
    color: white;
    position: fixed;
    z-index: 2;
}

.content{
    display: flex;
    height: 94vh;
    width: 100vw;
    background-color: rgb(98, 177, 98);
    color: white;
    z-index: 1;
}


button{
    margin-left: 5px;
    align-items: center;
}

mat-icon{ 
    color: white;
}

