<div class="imagem">
    <img src="../../assets/burger.png" alt="burger">
    <div class="info-restaurante">
        <h3>Nome do restaurante</h3>
            <div class="descricao">
                <p>Descrição:</p>
                <p class="texto">
                    Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                </p>
            </div>

            <div class="icones">
                <div class="preco">
                    <small>Preço:</small>
                    <br>
                    <fa-icon [icon]="dinheiro"></fa-icon>
                    <fa-icon [icon]="dinheiro"></fa-icon>
                    <fa-icon [icon]="dinheiro" class="apagado"></fa-icon>
                    <fa-icon [icon]="dinheiro" class="apagado"></fa-icon>
                    <fa-icon [icon]="dinheiro" class="apagado"></fa-icon>
                </div>
                <div class="rating">
                    <small>Avaliação:</small>
                    <br>
                    <fa-icon [icon]="estrela"></fa-icon>
                    <fa-icon [icon]="estrela"></fa-icon>
                    <fa-icon [icon]="estrela"></fa-icon>
                    <fa-icon [icon]="estrela"></fa-icon>
                    <fa-icon [icon]="estrela"></fa-icon>
                </div>
            </div>
    </div>
</div>
